/* Projects */

.project-page{
    // background-color: aqua;
    max-width: 1200px;
    margin: 0 auto;
    background-color:   #23272a ;
    min-height:calc(100vh);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 3rem;
  }

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width:100%;
    min-height:100vh;
} 

.project img{
    min-width: 300px;
    border: solid black 1px;
    border-radius: 1rem;
    max-height: 200px;
}

.project img:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: 1s ease;
}
  
@media screen and (min-width: 600px) {
  .projects{
      grid-template-columns: repeat(2, 1fr);
      img{
        // min-width: 400px;
      }
  }
}


.project {
  display: flex; 
  flex-direction: column;
  max-width: 95vw;
  width: 400px;
  background: #fff;
  box-shadow: 1px 1px 8px 1px aqua;
  border-radius: 1rem;
  padding: 1rem 2rem;
  min-height: 480px;
  align-items: center;
  position: relative;
}

.project-headers{
  margin-bottom: 25px;
}

.project h2{
  margin-top: 0.5rem;
}

.project h3{
  color: black;
  font-size: 13px;
  margin-top:0.25rem;
  text-align: left;
  text-indent: 25px;
}

.project button{
    color: black;
    background-color: white;
    padding: 5px 7px;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 2rem;
    border: 2px solid;
    border-color: black; 
    cursor: pointer;
}

.project button:hover{
    background-color: lightgray;
    transition: 1s ease;
    transform: scale(1.1);
    }

.project img{
  max-width: 100%;
  height:auto;
}

.proj-btn{
  display: flex;
  position: absolute;
  bottom: 5px;
  align-items: center;
  text-align: center;
}

@media screen and (max-width:400px) {
  .project{
      padding: .5rem;
      min-height: 420px;

      img{
        min-width: 100px;
        max-height: 150px;
      }
  }
  
}