/* Nav */
.nav {
    position: fixed;
    background-color: darkolivegreen;
    //  background-color:white ;
    
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    .pop-up {
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      margin-right: 20px;

      span {
        width: 100%;
        height: 3px;
        background-color: white;
        transform-origin: left;
        transition: all 2s ease;
      }
    }

  //   .pop-up:hover {
  //       background-color: white;
      
  //     span{
  //         background-color: black;
  //   }
  // }
}

.nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
// .nav a:hover{
//   background-color: white;
//   color:black;
// }

