.footer{
    padding:30px;
    // background-color: darkolivegreen;
    background-color: #2c2f33;
    text-align: center;
}
  
.footer .col{
  display: inline-block;
  padding: 25px;
  color: white;
}
  
.footer li{
  list-style-type: none;
}
   
.footer a{
  text-decoration: none;
  color: aqua;
}
  
.footer a:hover{

  text-decoration: underline;
}
  