.footer{
    padding:30px;
    // background-color: rgb(35, 33, 63);
    background-color: darkolivegreen;
    text-align: center;
  }
  
  .footer .col{
    display: inline-block;
    padding: 25px;
    color: white;
  }
  
  .footer li{
    list-style-type: none;
  }
   
  .footer a{
    text-decoration: none;
    color: black;
  }
  
  .footer a:hover{

    text-decoration: underline;
  }
  