.welcome-page{
    background-image: linear-gradient(to top,rgba(0,0,0,.2),rgba(0, 0, 0, 0.7)), url('./background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 50px);
    min-width: 100vw;
    color:white;
  }

.welcome-contents{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  font-size: 2em;
}
.button-box{
  display: inline-block;
}

.btn{
  font-weight: bold;
  background-color: 
  aqua;
  // #82ddf0;
// #28fefa;
// #1bece9;
// #00c5ff;
  border: none;
  border-radius: .2rem;
  padding: 10px;
  margin-right: 25px;
}
// 82ddf0;
// 28fefa;
// 1bece9;
// 00c5ff;
.btn:hover{
  cursor: pointer;
  background-color: 
#00c5ff;
}




    